*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
  background-color: lightgrey;
  font-weight: bolder;
}

#nav-title {
  border-radius: 14px;
  position: static;
  margin: 50px 50px;
  background-color:  var(--blue);
  display: inline;
  padding: 5px;
  color: var(--tertiary-color);
}

header nav {
  margin: 50px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 3vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

section {
  padding: 7em 0;
}

.container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
}

.split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.split > * {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 15em;
}

.nav-project {
  padding-top: 20%;
}

.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.product p {
  color: #eee;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: .5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: .25em;
  -webkit-transition: opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out,
 opacity 250ms linear;
  transition: transform 250ms ease-in-out,
 opacity 250ms linear,
 -webkit-transform 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .9;
}

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  text-transform: uppercase;
}

.section-title {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}

.hero {
  color: white;
  text-align: center;
  padding: 10em 0 0 0;
  background: #222;
  opacity: 90%;
}

@supports (background-blend-mode: multiply) {
  .hero {
    background: color(grey);
    background-size: contain;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.featured {
  background: #eee;
}

.featured__item {
  display: block;
  position: relative;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  text-decoration: none;
  color: #333;
  text-align: center;
  line-height: 1.2;
}

.featured__item:hover, .featured__item:focus {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.featured__item:hover .featured__details, .featured__item:focus .featured__details {
  opacity: 1;
  text-shadow: 0 0 2em white;
}

.featured__item::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 75% 75% 0 0;
  border-radius: 50%;
  background: #2193b0;
  z-index: -1;
}

.featured__details {
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.featured__details span {
  display: block;
  font-weight: 700;
  font-size: 2.5rem;
}

.product {
  background: radial-gradient(var(--clr-inner, limegreen), var(--clr-outer, purple));
  padding: 3em;
  border-radius: 1em;
  margin-bottom: 5em;
  text-align: center;
}

.product__title {
  font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2);
}

.contact {
  display: block;
  background: seagreen;
  border-radius: 20px;
  width: 85%;
  max-width: 25rem;
  margin: 0 auto;
}

@media (max-width: 45em) {
  .product__title {
    font-size: 10vw;
  }
  .product__description {
    font-size: 5vw;
  }

  .hero h2 {
    margin-top: 100px;
  }

  .btn {
    margin-top: 120px;
  }

  .hero a {
    font-size: 10vw;
  }

  .section-title {
    width: 95%;
  }
  .intro p {
    width: 100%;
  }
  .project {
    flex: 0 100%;
  }
  .contact-info {
    text-align: center;
  }
  .contact-info > * {
    flex: 0 100%;
  }
  .contact-form {
    order: 3;
  }
  header nav ul {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    display: inline;
  }
  header nav ul li{
    margin: 20px;
  }
  footer ul {
    font-size: x-small;
  }
  .product {
    text-align: left;
    margin-bottom: 9em;
  }
  .product__title {
    margin: 0;
  }
  .product__image {
    float: right;
    width: 65%;
    shape-outside: url(../img/shoe-1.png);
    shape-margin: 1em;
    margin: 0 -5em 0 0;
  }
  .product.shoe-left .product__image {
    float: left;
    shape-outside: url(../img/shoe-2.png);
    margin: 0 0 0 -5em;
    shape-margin: 2em;
  }
  footer h2, footer div 
  {
    text-align: center;
    width: 100%;
  }
}

.hero {
  --clr-accent: #faa700;
}

.proj1-red {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.proj2-white {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}

.proj3-blue {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}

.contact h3 {
  border-radius: 14px;
  position: static;
  margin: 50px 50px;
  background-color:  var(--tertiary-color);
  display: inline;
  padding: 5px;
  color: var(--background-color);
}

html {
	scroll-behavior: smooth;
}

/*# sourceMappingURL=main.css.map */


/*html {
	scroll-behavior: smooth;
}

:root {
  --primary-color: #FDAC53;
  --secondary-color: #F5DF4D;
  --tertiary-color: #9BB7D4;
  --background-color: #0072B5;
}

* {
    margin: 100;
    padding: 1;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 99;
    border-radius: 20px;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, .9);
  }
  
  header a {
    text-decoration: none;
    color: var(--background-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

#name {
    color: var(--secondary-color);
    font-size: 70px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: var(--background-color);
    border-radius: 20px;
    padding: 20px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

body{
    color: var(--white);
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
}

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
.project {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--background-color);
    border-radius: 20px;
    }

Div.project-info {
  padding: 20px;
}

#run-buddy {
  margin: 40px 20px 40px;
  flex: 2;
  background: var(--secondary-color);
  color: var(--background-color);
  border-radius: 20px;
  }

.project p {
    text-align: center;
    color: white;
}

.project h3 {
    text-align: center;
    color: var(--background-color);
}

.project h4 {
    text-align: center;
}

.contact h3 {
    border-radius: 14px;
    position: static;
    margin: 50px 50px;
    background-color:  var(--tertiary-color);
    display: inline;
    padding: 5px;
    color: var(--background-color);
}

#nav-title {
    border-radius: 14px;
    position: static;
    margin: 50px 50px;
    background-color:  var(--blue);
    display: inline;
    padding: 5px;
    color: var(--tertiary-color);
}

.contact {
    font-weight: bolder;
    display: inline-block;
    background-color: var(--background-color);
    border-radius: 14px;
    width: auto;
    padding-right: 1%;
    margin-top: 5%;
}

section {
    border-radius: 100px;
    margin: auto;
}

a {
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: large;
}

a:visited {
    color:var(--blue);
}

a:link {
    color:white;
}

a:hover {
    color: var(--primary-color);
}


#bobnmadi {
  width:100%;
  height:100%;
  position: relative;
  padding: 100px;
  justify-content: center;
  align-items: center;
}

#run-buddy div{
  text-align: center;
}

#javascript div{
  text-align: center;
}

#madi div{
  text-align: center;
}

#aboutme {
  padding: 20%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  line-height: 150%;
  color: white;
}

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
 
 /* @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
      width: 100%;
      text-align: center;
    }
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: left;
    }
    header nav ul li a {
      font-size: 20px;
    }
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }

    .section-title {
      width: 80%;
    }
    .project {
      flex: 0 70%;
    }
 
  
  }
  

  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  /*@media screen and (max-width: 575px) {

    .section-title {
      width: 95%;
    }
    .intro p {
      width: 100%;
    }
    .project {
      flex: 0 100%;
    }
    .contact-info {
      text-align: center;
    }
    .contact-info > * {
      flex: 0 100%;
    }
    .contact-form {
      order: 3;
    }
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
      display: inline;
    }
    header nav ul li{
      margin: 20px;
    }
    footer ul {
      font-size: x-small;
    }
    #bobnmadi {
      padding: 5%;
      padding-top: 65PX;
    }
  }
