:root {
  --primary-color: #FDAC53;
  --secondary-color: #F5DF4D;
  --tertiary-color: #9BB7D4;
  --background-color: #0072B5;
}

* {
    margin: 100;
    padding: 1;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 99;
    border-radius: 20px;
  }

  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, .9);
  }
  
  header a {
    text-decoration: none;
    color: var(--background-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

#name {
    color: var(--secondary-color);
    font-size: 70px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: var(--background-color);
    border-radius: 20px;
    padding: 20px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

body{
    color: var(--white);
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
}

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
.project {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--background-color);
    border-radius: 20px;
    }

Div.project-info {
  padding: 20px;
}

#run-buddy {
  margin: 40px 20px 40px;
  flex: 2;
  background: var(--secondary-color);
  color: var(--background-color);
  border-radius: 20px;
  }

.project p {
    text-align: center;
    color: white;
}

.project h3 {
    text-align: center;
    color: var(--background-color);
}

.project h4 {
    text-align: center;
}

.contact h3 {
    border-radius: 14px;
    position: static;
    margin: 50px 50px;
    background-color:  var(--tertiary-color);
    display: inline;
    padding: 5px;
    color: var(--background-color);
}

#nav-title {
    border-radius: 14px;
    position: static;
    margin: 50px 50px;
    background-color:  var(--blue);
    display: inline;
    padding: 5px;
    color: var(--tertiary-color);
}

.contact {
    font-weight: bolder;
    display: inline-block;
    background-color: var(--background-color);
    border-radius: 14px;
    width: auto;
    padding-right: 1%;
    margin-top: 5%;
}

section {
    border-radius: 100px;
    margin: auto;
}

a {
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: large;
}

a:visited {
    color:var(--blue);
}

a:link {
    color:white;
}

a:hover {
    color: var(--primary-color);
}


#bobnmadi {
  width:100%;
  height:100%;
  position: relative;
  padding: 100px;
  justify-content: center;
  align-items: center;
}

#run-buddy div{
  text-align: center;
}

#javascript div{
  text-align: center;
}

#madi div{
  text-align: center;
}

#aboutme {
  padding: 20%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  line-height: 150%;
  color: white;
}

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
    header h1 {
      width: 100%;
      text-align: center;
    }
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: left;
    }
    header nav ul li a {
      font-size: 20px;
    }
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }

    .section-title {
      width: 80%;
    }
    .project {
      flex: 0 70%;
    }
 
  
  }
  

  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

    .section-title {
      width: 95%;
    }
    .intro p {
      width: 100%;
    }
    .project {
      flex: 0 100%;
    }
    .contact-info {
      text-align: center;
    }
    .contact-info > * {
      flex: 0 100%;
    }
    .contact-form {
      order: 3;
    }
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
      display: inline;
    }
    header nav ul li{
      margin: 20px;
    }
    footer ul {
      font-size: x-small;
    }
    #bobnmadi {
      padding: 5%;
      padding-top: 65PX;
    }
  }
